@media (min-width:414px) and (max-width:415px){

    body{
        width: 100vw;
        overflow-x: hidden;
    }

    .no-scroll{
        overflow-x: hidden;
        overflow-y: hidden;
        }
    
        .fixed-menu{
            height: 100%;
            width: 100%;
    
            left: -100%;
            top: 0;
    
            background: hsla(0, 0.5%, 98%, 0.6);
            backdrop-filter: blur(5px);
    
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            
            transition: all 0.4s;
        }
    
        .fixed-menu.active{
            left: 0;
        }
    
        .right-side{
            display: none;
        }
        .left-side-list{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
    
            transform: scale(2);
            margin-top: 150px;
        }
    
        .left-side-list-items{
            margin-top: 10px;
        }
    
        .burger-menu{
            display: block;
            position: fixed;
            
            margin-top: 10px;
            margin-right: 10px;
        }
    
        .burger-menu-outer{
            position: absolute;
            width: 100vw;
            display: flex;
            
            justify-content: flex-end;
        }
    
    /******************* MAIN CONTENT *****************************/
       .container-header{
           width: 100vw;
           height: 100vh;
       }
    
       .mainc-content-images img{
           width: 60%;
       }
    
       #nft1{
           margin-left:-20%;
       }
    
       #nft2{
           margin-top: -650px;
       }
    
       #nft4{
           margin-top: 300px;
       }
    
       /******************* BLUE-BG CONTENT *****************************/
       .container-blue-bg{
        height: 100vh;
        width: 100vw;
        }
    
        .blue-bg-inner-left{
            padding-left: 10px;
        }
    
        .blue-bg-inner-left h1{
            font-size: 30px;
            margin-bottom: 20px;
        
        }
    
        .blue-bg-inner-right img{
            width: 70%;
            height: auto;
        }
    
        /******************* ROADMAP CONTENT *****************************/
       .roadmap-content{
           width: 100vw;
           height: 100vh;
       }
    
       .roadmap-right{
           padding-right: 10px;
       }
    
       .roadmap-title{
        font-size: 20px;
        font-weight: bold;
        }
    
        .roadmap-column{
            margin-top: 5px;
            width: 90%;
        }
    
        .roadmap-column-list{
            margin-top: 10px;
            padding: 10px 20px;
        }
    
        .roadmap-nft{
            width: auto;
            height: 18%;
        }
    
        /******************* RARITY CONTENT *****************************/
        .container-rarity{
            width: 100vw;
            height: 100vh;    
        }
    
        .rarity-left{
            padding-left: 10px;
        }
    
        .rarity-nft{
            width: 80%;
            height: auto;
        }
    
        /******************* CREATOR CONTENT *****************************/
        .creator-content{
            width: 100vw;
            height: 100vh;
        }
    
        .creator-right{
            padding-left: 10px;
        }
    
        .creator-title{
            font-size: 25px;
    
            margin-bottom: 20px;
        }
    
        .creator-nft{
            width: 85%;
            height: auto;
        }
    
        /******************* FAQ *****************************/
        .FAQ-content{
            width: 100vw;
            height: 100vh;
        }
        
        .FAQ-title {
            margin-bottom: -3px;
        }

        .FAQ-title h1{
            font-size: 30px;
        }

        .FAQ-list-items{
            margin-top: 15px;
        }
    
        /******************* GET YOUR NFT *****************************/
        .Get-your-nft{
            width: 100vw;
            height: 70vh;
        }
    
        .Get-your-nft-left{
            padding-left: 10px;
        }
    
        .Get-your-nft-left-title{
            font-size: 20px;
        }
    
        .Get-your-nft-img{   
            width: 85%;
            height: auto;
        }
    
        /******************* FOOTER *****************************/
        .footer{
            width: 100vw;
            height: 40vh;
        }
    
        .footer-top-inner-left{
            padding-left: 10px;
        }
    
        .footer-top-inner-left-title{
            font-size: 15px;
        }
    
        .footer-top-inner-left-txt{
            font-size: 16px;
        }
    
        .footer-bottom-inner{
            padding-left: 10px;
        }
    }
    